<!--<table border="3">
    <tr>
        <td>id</td>
        <td> name</td>
        <td>address</td>
        <td>image</td>
        <td>status</td>
    </tr>
    <tr *ngFor="let i of listResidences">
        <td>{{i.id}}</td>
        <td>{{i.name | uppercase}}</td>
        <td>{{i.address}}</td>
        <td> <img [src]="i.image" alt="img" width="100" height="100"></td>
        <td>{{i.status}}</td>
    </tr>
</table>
<input type="text" [(ngModel)]="s">
<div *ngFor="let i of listResidences">
    <div *ngIf="s==i.name">
        <ul>
            <li>{{i.name}}</li>
        </ul>
    </div>
    

</div>-->

<div class="row">
    <div
      *ngFor="let i of listserviceannonce"
      class="card m-3"
      style="width: 18rem"
    >
     
      <div class="card-body">
        <h5 class="card-title">{{ i.title | uppercase }}</h5>
        <h5 class="card-title">{{ i.price }}</h5>
        <p class="card-text">{{ i.residenceid }}</p>
        <button class="btn btn-success" (click)="listefavoris(i)">
          {{ isfavoris(i) ? "unlike" : "like" }}
        </button>
        <button class="btn btn-danger" (click)="deleterannonce(i.id)">
          Delete
        </button>
        <button class="btn btn-dark" [routerLink]="['detailsannonce', i.id]">
          show dtails
        </button>
        <button class="btn btn-dark" [routerLink]="['update', i.id]">
          Update
        </button>
      </div>
    </div>
  </div>
  
  <button class="btn btn-success" (click)="shownumber()">show Number</button>
  <div *ngIf="num != null">le nombre est : {{ num }}</div>
  